*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 62.5%;
}

body{
    background: blue;
    width: 100%;
    min-height: 100vh;
}

.flex{
    padding: 5px;
    min-width: 800px;
    min-height: 675px;

    
    display: flex;

}