@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(gray, violet);
}

.navbox {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 60px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar ul li {
    margin: 0 1em;
    padding: 16px;
}

.btn-nav {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;

}

.btn-nav:hover {
    color: #039F4C;
}

/* section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
} */

#home {
    position: relative;
    background: url(https://www.liradosartistas.com.br/811d263020c15ae964f8.jpg) no-repeat center/cover fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    scroll-snap-align: center;
    height: 100vh;
    text-align: center;
}

/* PERGUNTAR MARCOS ISSO!! */
#home::before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
}

/* PERGUNTAR MARCOS SOBRE ISSO! */
.logo {
    position: relative;
    width: 100%;
    color: #fff;
}

.logo img {
    width: 300px;
    height: 100%;
    padding-bottom: 16px;
}

.logo h1 {
    font-size: 48px;
}