*{
    margin: 0;
    padding: 0;
}
#title{
    font-family: sans-serif;
    color: #483D8B;
    margin-left: 14%;
}

#subtitle{
    font-family: sans-serif;
    color: #6959CD;
    margin-left: 10%;
}

fieldset{
    border: 0;
}
body{
    background-color: aqua;
    font-family: sans-serif;
    font-size: 1em;
    color: #2F4F4F;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 5px;
}
.camp{
    margin-bottom: 1em;
}
.camp label{
    margin-bottom: 0.5em;
    color: red;
    display: block;
}
fieldset.group .camp{
    float: left;
    margin-right: 1em;
}
.camp input[type="text"], .camp input[type="email"], .camp select, .camp textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0, 0, 0.2);
    display: block;
}
.camp select option{
    padding-right: 1em;
}
.camp input:focus, .camp select:focus, .camp textarea:focus{
    background: #b0c0eb;
}
.btn{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.btn:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}
#checkbox{
    display: inline-block;
}