body{
    background-color: #4169E1;
}

.header{
    background: #D3D3D3;
}
.btn-menu{
    background-color: #000;
    border-color: #fff;
    color: #4169E1;
    font-weight: bolder;
    font-size: medium;
}
.text-1{
    background: white;
    color: red;
    font-size: 26px;
    
}
